@{
    ViewData["Title"] = "Contact";
}
@section Scripts{
    <script>
    var contact = document.getElementsByClassName('activeContact');
    for (var i = 0; i < contact.length; i++) {
        contact[i].style.backgroundColor = "white";
        contact[i].style.color = "#3d3d3d";
    }
    </script>
}

@section Styles{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/contact.css" />
    </environment>
}

<div class="content">

    <div class="contact-content">
        <div class="glass">
        </div>
        <div class="text">
            <p>
                <strong>Adrese de contact:</strong>
            </p>
            <p>
                <code><strong>Radu Vulpescu:</strong> radu.vulpescu16@gmail.com</code>
            </p>
            <p>
                <code><strong>Razvan Cimpoesu:</strong> radu.!</code>
            </p>
            <p>
                <code><strong>Adrian Dorneanu:</strong> radu.!</code>
            </p>
            <p>
                <code><strong>Alexandru Corfu:</strong> corfu.alexandru01@gmail.com</code>
            </p>
        </div>
    </div>
</div>