@model IEnumerable<WAgI.Entities.Score>

@{
    ViewData["Title"] = "Index";
}

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="../styles/general.css" />
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
</environment>

<div class="container">
    <img src="../images/logo.png">
    <h5>In a galaxy far far away ...a fuck.. was given..by Darth Vader</h5>
    <div class="buttons">
        <div class="button-container">
            <a asp-action="Intro">
                <input class="button" type="button" value="PLAY">
            </a>   
        </div>
        <div class="button-container">
            <a asp-action="Highscore" asp-route-id="1">
                <input class="button" type="button" value="HIGHSCORE">
            </a>      
        </div>
        <div class="button-container">
            <a asp-action="HowToPlay">
                <input class="button" type="button" value="HOW TO PLAY">
            </a>      
        </div>   
        <div class="button-container">
            <a asp-action="About">
                <input class="button" type="button" value="ABOUT">
            </a>    
        </div>
                
                   
    </div>        
</div>