<environment include="Development">
    <script src="../Javascripts/SpaceShooter.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/general.css" />
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
</environment>    

<div class="container">
        <img src="../images/logo.png">
        <h5>In a galaxy far far away ...a fuck.. was given..by Darth Vader</h5>
      <div class="cnvs-container">
            <canvas class="cnvs" id="background" width="600" height="360">
                    Your browser does not support canvas. Please try again with a different browser.
             </canvas>
            
            <canvas class="cnvs" id="main" width="600" height="360"></canvas>
            <canvas class="cnvs" id="ship" width="600" height="360"></canvas>
      </div>
		 
        <div  class="buttons">   
                <div class="button-container"> 
                    <a asp-action="Index">
                     <input id="backButtonPlay"  class="button" type="button" value="BACK  TO  MAIN  MENU">
                   </a>    
                </div>     
        </div>        
</div>

@section Scripts {
    <script>
        window.onload = function () {
            init();
        }
    </script>
}
