@model IEnumerable<WAgI.Entities.Score>

@{
    Layout = "_Layout";
}

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="../../styles/general.css" />
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
</environment>

<div class="container">
    <img src="../../images/logo.png">
    <h5>In a galaxy far far away ...a fuck.. was given..by Darth Vader</h5>

    <table class="table" style="background-color: black; color: white;">
        <thead>
            <tr>
                <th>
                    Rank
                </th>
                <th>
                    Nickname
                </th>
                <th>
                    Score
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var i = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nickname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                    </tr>

                    ++i;
                }
            }
        </tbody>
    </table>
    <div class="buttons">
        <div class="button-container">
            <a asp-action="Index">
                <input class="button" type="button" value="Back">
            </a>
        </div>
    </div>
    @using (Html.BeginForm("SearchScoresByNickname", "Home", FormMethod.Get))
    {
        @Html.TextBox("nickname", null)
        <br />
        <button class="button" type="submit">Search</button>
    }
</div>