@model IEnumerable<WAgI.Entities.Score>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Create", "Scores", new { nickname = "radu", value = 10 }, FormMethod.Post, null, new { }))
{
    <button>Da</button>
}
